//====================================================================================================
.ibg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  img {
    display: none;
  }
}
//====================================================================================================
.slick-slider {
  position: relative;
  .slick-track,
  .slick-list {
  }
  .slick-list {
    overflow: hidden;
  }
  .slick-track {
    @include flexbox();
    align-items: flex-start;
  }
  .slick-slide {
  }
  .slick-dots {
    padding: 100px 0px 0px 0px;
    @include flexbox();
    justify-content: center;
    align-items: center;
    li {
      margin: 0px 5px;
      button {
        font-size: 0;
        width: 11px;
        height: 11px;
        border-radius: 50%;
        border: 1px solid #c8c8c8;
        background-color: transparent;
      }
      &.slick-active {
        button {
          background-color: #a9afb3;
        }
      }
    }
    @media (max-width: 1100px) {
      padding: 50px 0px 0px 0px;
    }
    @media (max-width: 767px) {
      padding: 30px 0px 0px 0px;
    }
  }
}
//=====================================================================================================================
.formContainer {
  background-color: #f7f7f7;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.formWrapper {
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  background-color: white;
  padding: 20px 60px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 330px;
  align-items: center;

  input {
    width: 208px;
  }

  &--product {
    width: 435px;
    input {
      width: 315px;
    }
  }
}

.title {
  color: #4d4959;
  font-size: 18px;
}
form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
input {
  padding: 15px;
  border: none;
  border-bottom: 1px solid #64c29e;
  color: #4d4959;
}
button {
  background-color: #64c29e;
  color: white;
  font-weight: bold;
  padding: 10px;
  font-size: 15px;
  border: none;
  cursor: pointer;
}
p {
  color: #4d4959;
  font-weight: bold;
  font-size: 14px;
  margin-top: 10px;
}
.header__reg {
  margin-top: 50px;
}
// ==================================================

.table__container {
  margin: 130px auto;
  max-width: 800px;
}
.table__name {
  text-align: center;
  font-size: 24px;
  color: #353738;
  font-weight: bold;
}
.table__content {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.table {
  th {
    outline: 1px solid black;
    padding: 20px;
  }
  td {
    outline: 1px solid #353738;
    padding: 20px;
  }
}
@media screen and (max-width: 750px) {
  .table__content {
    font-size: 14px;
    overflow-y: scroll;
  }
  .table {
    th {
      outline: 1px solid black;
      padding: 10px;
    }
    td {
      outline: 1px solid #353738;
      padding: 10px;
    }
  }
}
@media screen and (max-width: 520px) {
  .table__content {
    font-size: 14px;
    overflow-y: scroll;
    padding-left: 110px;
  }
  .table {
    th {
      outline: 1px solid black;
      padding: 10px;
    }
    td {
      outline: 1px solid #353738;
      padding: 10px;
    }
  }
}
@media screen and (max-width: 400px) {
  .table__content {
    font-size: 14px;
    overflow-y: scroll;
    padding-left: 180px;
  }
}

.officer__link {
  color: #64c29e;
  background-color: #353738;
  padding: 5px;
}
.uil-multiply {
  color: red;
}
td.officer__delete {
  cursor: pointer;
  outline: 1px solid red;
}
.checkbox {
  display: flex;
  padding: 10px;
  border: 1px solid #64c29e;
  color: #4d4959;
  justify-content: flex-start;
}
input.input-checkbox {
  width: fit-content;
  margin-right: 6px;
  cursor: pointer;
}
textarea {
  resize: none;
  height: 50px;
}

.form__title {
  color: #4d4959;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2.6px;
}
.steal__form {
  margin-top: 50px;
}
.redact__form {
  margin-top: 200px;
}
@media screen and (max-height: 670px) {
  .steal__form {
    margin-top: 200px;
  }
  .redact__form {
    margin-top: 300px;
  }
}
